<div class="container" *ngIf="users$ | async as users">
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Owner ID</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of users">
            <tr (click)="print(user.id)">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.lang }}</td>
              <td>{{ user.catsIdList }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="col-2"></div>
  </div>
</div>
