<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand link-secondary" routerLink="/index"
      >Angular Demo - NGXS</a
    >
    <button
      class="navbar-toggler btn__menu"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-link"
            aria-current="page"
            [routerLink]="['/index']"
            routerLinkActive="active-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="cats-link"
            routerLink="/cats"
            routerLinkActive="active-link"
            >Cats</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="users-link"
            routerLink="/users"
            routerLinkActive="active-link"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
