<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand link-secondary" routerLink="/index"
      >Angular Demo - NGXS</a
    >
    <button
      class="navbar-toggler btn__menu"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-link"
            aria-current="page"
            [routerLink]="['/index'] | localize"
            routerLinkActive="active-link"
            >{{ "NAV.LINK1" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="cats-link"
            [routerLink]="['/cats'] | localize"
            routerLinkActive="active-link"
            >{{ "NAV.LINK2" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="users-link"
            [routerLink]="['/users'] | localize"
            routerLinkActive="active-link"
            >{{ "NAV.LINK3" | translate }}</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ "NAV.LINK4" | translate }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ng-container *ngFor="let lang of langs">
              <button
                class="dropdown-item btn btn dark"
                href="#"
                (click)="useLanguage(lang.shortName)"
              >
                {{ lang.name }}
              </button>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
